@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

/* Estilos específicos para o Slick Carousel */
.slick-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slide {
  padding: 20px;
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-prev:before,
.slick-next:before {
  color: #fff !important;
}
